* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav {
  /* background: rgba(0, 0, 0, 0.733); */
  background-size: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 21px;
  margin-bottom: 20px;
  z-index: 99;
  padding: 10px 50px 4px 50px;
  color: #fff;
  top: 0;
  /* position: sticky; */
  font-family: "Anek Malayalam", sans-serif;
}
nav .heading-banner {
  display: flex;
  flex-direction: row;
  column-gap: 110px;
  justify-content: space-between;
}
nav .heading-banner .healing-logo {
  background-size: cover;
}
.heading-banner .healing-logo img {
  width: 550px;
}
.logo {
  font-size: 25px;
  font-weight: 600;
  /* color: tomato; */
  color: #000;
  font-family: "Playfair Display", "Montserrat";
  letter-spacing: 3px;
}
.logo p {
  margin-top: 0;
  margin-bottom: 0rem;
}
.logo .slogan {
  font-size: 13px;
  font-weight: 400;
  margin: 0;
  top: 2px;
}

.logo .font {
  /* color: #fff; */
}
.logo:hover {
  color: #fff;
  cursor: -webkit-grabbing;
  transition: all 0.7s ease-in-out;
}
.logo:hover .font {
  color: tomato;
  transition: all 0.7s ease-in-out;
}
.menu-list {
  list-style-type: none;
  display: flex;
  letter-spacing: 2px;
  font-weight: 1000;
  align-content: center;
  justify-content: space-between;
}

.menu-list li a {
  color: #fff;
  color: #000;
  text-decoration: none;
  font-size: 19px;
  font-weight: 600;
  /* padding: 5px 10px; */
  /* margin-left: 20px; */
}
nav ul {
  padding-left: 0rem;
  border: 1px solid rgba(128, 128, 128, 0.63);
  border-left: none;
  border-right: none;
  padding: 8px 2px;
}
.menu-list li a:hover,
.menu-list li a.active {
  background-color: #fff;
  border-radius: 3px;
  color: #000;
  transition: all 0.7s ease-in-out;
}
.menu-icon {
  display: none;
  color: tomato;
}

.fas {
  cursor: pointer;
  transition: all 0.4s ease-in-out;
}
.fas:hover {
  color: tomato;
  transition: all 0.4s ease-in-out;
}
.menu-icon .fa-times {
  transform: rotate(120deg);
  transition: all 0.2s ease-in-out;
  color: tomato;
}
.menu-icon .fa-times {
  transform: rotate(130deg);
  transition: all 0.2s ease-in-out;
}
@media only screen and (max-width: 800px) {
  .logo {
    font-size: 20px;
  }
  .menu-list li a {
    font-size: 14px;
    margin-left: 10px;
  }
}
@media only screen and (max-width: 450px) {
  .menu-icon {
    display: block;
  }
  .menu-list {
    opacity: 1;
    flex-direction: column;
    width: 100%;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 20px;
    right: 0;
    top: 68px;
    /* display: contents; */
    display: flex;
    border-radius: 0px 0 2px 2px;
    box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
    transition: all 0.8s ease-in-out;
  }
  .menu-list li {
    margin-bottom: 20px;
    width: 100%;
    text-align: center;
  }
  .menu-list li:last-child {
    margin-bottom: 0;
  }
  .menu-list.close {
    /* right: -100%; */
    /* display: none; */
    opacity: 0;
    transition: all 0.8s ease-in-out;
  }
}
