* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.footer {
  padding: 30px 48px;
  display: flex;
}

.footer .news-letter {
  width: 50%;
}
.iconlist ul {
  display: flex;
  column-gap: 13px;
  flex-wrap: wrap;
}
.iconlist ul a {
  list-style-type: none;
  color: rgba(0, 0, 0, 0.74);
}
.footer-newsLetter .input {
  display: flex;
  margin: 5px;
}

.footer-newsLetter .input > input,
button {
  padding: 8px;
  border: none;
  background-color: #fff;
  border: 1px solid gray;
}
.footer-newsLetter .input > button {
  border-left: none;
  border-radius: 0px 6px 6px 0;
  background-color: rgb(163, 157, 157, 0.3);
  color: #ec2d40;
}
.footer-newsLetter .input > input {
  border-radius: 6px 0px 0px 6px;
}
.footer-newsLetter .input > input,
button:focus {
  outline: none;
}

.footer-heading {
  margin-left: 30px;
  background: linear-gradient(to right, #d7e1ec59, #d7e1ecb9, #cfd6e6a1);
}
.icon-header {
  margin-left: 30px;
  background: linear-gradient(to right, #d7e1ec59, #d7e1ecb9, #cfd6e6a1);
}
.footer-line {
  background-color: rgb(163, 157, 157, 0.8);
  text-align: center;
  padding: 7px;
  color: #5c6fdb;
}
.footer-line p a {
  text-decoration: none;
  color: #e72a2aee;
}
.footer-line p {
  margin-top: 0;
  margin-bottom: 0rem;
}
