* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.home {
  padding: 0 48px;
}
/* .home .home-title {
  text-align: center;
  font-size: 32px;
  font-weight: 500;
  color: rgb(134, 120, 212);
} */
