* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.slider {
  position: relative;
  height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px 20px;
}
.image {
  /* this is vary device to device */
  width: 1200px;
  height: 380px;
  border-radius: 10px;
}
.slider .left-arrow {
  font-size: 3rem;
  position: absolute;
  top: 50%;
  left: 10px;
  color: rgb(116, 111, 111);
  z-index: 10;
  cursor: pointer;
  user-select: none;
  border-radius: 50%;
}
.slider .right-arrow {
  /* background: tomato; */
  font-size: 3rem;
  position: absolute;
  top: 50%;
  right: 10px;
  color: rgb(116, 111, 111);
  z-index: 10;
  cursor: pointer;
  user-select: none;
}
.slide .active {
  opacity: 1;
  transition: all 2s ease-in-out;
  transform: scale(1.08);
}
.slide .active {
  opacity: 0;
  transition: all 2s ease-in-out;
  /* transform: scale(1.08); */
}
